{% load cms_tags sekizai_tags menu_tags placeholder_tags %}
<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title> DeskGraphics | Home </title>
	<meta name="Author" content="d3c0" />
	<meta name="Keywords" content="CAD, AutoDesk, courses, tutorials" />
	<meta name="Description" content="Deskgraphics the number one on Brasil" />
	<meta http-equiv="imagetoolbar" content="no" />
    
    {% render_block "css" %}

    {% addtoblock "css" %}
		<link href="/media/css/main.css" media="screen" rel="stylesheet" type="text/css" />
	{% endaddtoblock %}

	{% addtoblock "css" %}
		<link href="/media/css/social.css" media="screen" rel="stylesheet" type="text/css" />
	{% endaddtoblock %}
	
	{% addtoblock "css" %}
		<link href="/media/css/menu.css" media="screen" rel="stylesheet" type="text/css" />
	{% endaddtoblock %}

	{% addtoblock "css" %}
		<link href="/media/css/box.css" media="screen" rel="stylesheet" type="text/css" />
	{% endaddtoblock %}

	{% addtoblock "css" %}
		<link href="/media/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
	{% endaddtoblock %}

 </head>

<body>
    {% cms_toolbar %}
      
    {% placeholder content %}

    {% block content %}

	<div id="content">

		<div id="header">
			
			<div id="logo">
				{% placeholder "LogoCabecera" or %} There is no content. {% endplaceholder %}
			</div> <!-- end div logo -->
			<div id = "menu">
				{% show_menu 0 100 100 100 "menu.html" %}
			</div>

			<div id="social-media-icons">
				<a class="social-slide-twitter" href="https://www.twitter.com"></a>
				<a class="social-slide-linkedin" href="https://www.linkedin.com"></a>
				<a class="social-slide-facebook" href="https://www.facebook.com"></a>
				<a class="social-slide-email" href="https://www.email.com"></a>
			</div>
		
		</div> <!-- end div header -->

		<div id = "carrousel">
			{% placeholder "carrousel" or %} There is no content.{% endplaceholder %}
		</div>
		
		<div id = "wrapper">

			<div id="outer1">
				<div class="xsnazzy">
					<b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b>
						<div class="xboxcontent">
							<h1>Treinamento</h1>
							{% placeholder "courses" or %} There is no content. {% endplaceholder %} 
						</div>
					<b class="xb7"></b><b class="xb6"></b><b class="xb5"></b><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b>
				</div>
			</div>


			<div id="outer2">
				<div class="xsnazzy">
					<b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b>
						<div class="xboxcontent">
							<h1>Produtos</h1>
							{% placeholder "products" or %} There is no content. {% endplaceholder %} 
						</div>
					<b class="xb7"></b><b class="xb6"></b><b class="xb5"></b><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b>
				</div>			
				
			</div> <!-- end outer2 -->


			<div id="outer3">
				<div class="xsnazzy">
					<b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b>
						<div class="xboxcontent">
							<h1>Agenda</h1>
							{% placeholder "news" or %} There is no content. {% endplaceholder %} 
						</div>
					<b class="xb7"></b><b class="xb6"></b><b class="xb5"></b><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b>
				</div>
			</div> <!-- end outer2 -->
		
		</div> <!-- end wrapper -->

		<div id="footer">
			<div id= "menu-footer">
				<ul id="nav-list">
					<li><a href="/empresa">Empresa</a></li>
					<li><a href="/cursos">Cursos</a></li>
					<li><a href="/produto">Software</a></li>
					<li><a href="/produto">Agenda</a></li>
					<li><a href="/none">Fale conosco</a></li>
				</ul>
			</div>
			
			<div id= "autodesk-imgs">
				{% placeholder "footer" or %} There is no content. {% endplaceholder %}
			</div>
			


			<div id = "address-footer">
				<address>
  				<strong>Deskgraphics</strong><br>
  				Rua da Alfândega, 80 sala 302<br>
  				Centro - Rio de Janeiro<br>
  				<abbr title="Phone">P:</abbr> (21) 2526-8585
				</address>
			</div>
			
			
		</div> <!-- end footer -->

	</div> <!--end content -->
    	

    {% endblock %}

   
    
		{% addtoblock "js" %}
			<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
		{% endaddtoblock %}		
		{% addtoblock "js" %}
			<script type="text/javascript" src="{{ MEDIA_URL }}js/carousel.js"></script>
		{% endaddtoblock %}
		{% addtoblock "js" %}
			<script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.js"></script>
		{% endaddtoblock %}
		{% render_block "js" %}
     
   </body>
</html>