
<div class="nav">
	<ul class="menu">
		<li class="top-li"><a class="top-a" href="/">Home</a></li>
		<li class="top-li has-sub" aria-haspopup="true"><a class="top-a" href="/empresa">Empresa<!--[if gte IE 7]><!--></a><!--<![endif]-->
			<ul class="sub sub3 left1">
				<li class="sub" aria-haspopup="false">
					<h5>Suites</h5>
					<ul>
						<li><a href="/service-desk">Services Desk</a></li>
						<li><a href="/sistemas-gis">sistemas Gis</a></li>
					</ul>
				</li>
				
			</ul>


		</li>
		<li class="top-li has-sub" aria-haspopup="true"><a class="top-a" href="/cursos">Cursos<!--[if gte IE 7]><!--></a><!--<![endif]-->
			<ul class="sub sub3 left1">
				<li class="sub" aria-haspopup="false">
					<h5>Suites</h5>
					<ul>
						<li><a href="/cursos/autocad">Autocad</a></li>
						<li><a href="/cursos/autocad2d">Autocad-2D</a></li>
					</ul>
				</li>
				
			</ul>
		
		</li>
		
		<li class="top-li has-sub" aria-haspopup="true"><a class="top-a" href="/produto"><span>Software</span><b></b><!--[if gte IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
			<ul class="sub sub3 left1">
				<li class="sub">
					<h5>Software</h5>
					<ul>
						<li><a href="/produto/autodesk-infrastructure-design-suite">autodesk-infrastructure-design-suite</a></li>
						<li><a href="index.html">Chiffon</a></li>
						<li><a href="index.html">Crinkle</a></li>
						<li><a href="index.html">Butterfly</a></li>
						<li><a href="index.html">Tassel</a></li>
					</ul>
					
					
				</li>
				
				
				<li class="bottomLine">
					<p>Why not treat yourself to a <a href="index.html">makeover</a> in our cosmetic department.</p>
				</li>
			</ul>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		<li class="top-li"><a class="top-a" href="index.html">Agenda</a></li>
		
	</ul>
</div>	