<div class="menu">
	<dl>
		<dt><a href="/">Home</a></dt>
	</dl>
	<dl>
		<dt class="sub"><a href="/empresa">Empresa &#8711;</a></dt>
		<dd>
			<a href="/service-desk">Services Desk</a>
			<a href="/sistemas-gis">sistemas Gis</a>
		</dd>
	</dl>
	<dl>
		<dt class="sub"><a href="/cursos">Cursos &#8711;</a></dt>
		<dd>
			<a href="/cursos/autocad">Autocad</a>
			<a href="/cursos/autocad2d">Autocad-2D</a>
			
		</dd>
	</dl>
	<dl>
		<dt class="sub"><a href="/produto">Software &#8711;</a></dt>
		<dd>
			<a href="/produto/autodesk-infrastructure-design-suite">autodesk-infrastructure-design-suite</a>
			
		</dd>
	</dl>
	<dl class="right">
		<dt class="sub"><a href="index.html">Agenda</a>
		
	</dl>

	<dl class="right">
		<dt class="sub"><a href="/contato">Contato</a>
		
	</dl>
	
	<img src="transparent.gif" alt="" />
</div>